.container {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 48px;
  font-family: 'Ubuntu';
}
.form {
  display: flex;
  width: 400px;
  align-items: center;
}

.inputCity {
  flex: 1;
  height: 38px;
  padding: 10px;
  font-size: 16px;
}

.searchButton {
  position: relative;
  left: -32px;
  background: transparent;
  border: none;
}

.row {
  width: 550px;
  margin-top: 40px;
  border-top-style: solid;
  border-top-width: 0.25px;
  border-top-color: #fff;
}

.defaultCities {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
